<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  
  <appSettings>
    <!-- Настройки Rocket.Chat -->
    <add key="RocketChat:BaseUrl" value="http://192.168.10.180:3000" />
    <add key="RocketChat:AuthToken" value="YxGV8XDD9dBIRuKLn6nNOv1JeoXHF_anND0s58oS4xR" />
    <add key="RocketChat:UserId" value="PRGcw8PrY9YNyGfjo" />
    
    <!-- Настройки SMTP -->
    <add key="Smtp:Host" value="mail.tomsmineral.ru" />
    <add key="Smtp:Port" value="587" />
    <add key="Smtp:Username" value="pilot-ice@tomsmineral.ru" />
    <add key="Smtp:Password" value="Sxk8uRfcWaxz7" />
    <add key="Smtp:EnableSsl" value="true" />
    
    <!-- Настройки приложения -->
    <add key="Application:CompanyName" value="НИИПИ &quot;ТОМС&quot;" />
    <add key="Application:ProductName" value="TOMS.moduls" />
    <add key="Application:Version" value="10.7.25.0" />
    
    <!-- Настройки логирования -->
    <add key="Logging:Level" value="Info" />
    <add key="Logging:MaxFileSizeMB" value="10" />
    <add key="Logging:RetentionDays" value="30" />
    
    <!-- Настройки производительности -->
    <add key="Performance:MaxConcurrentRequests" value="10" />
    <add key="Performance:RequestTimeoutSeconds" value="30" />
    <add key="Performance:CacheTimeoutMinutes" value="15" />
    
    <!-- Настройки безопасности -->
    <add key="Security:EnableEncryption" value="true" />
    <add key="Security:MaxLoginAttempts" value="3" />
    <add key="Security:SessionTimeoutMinutes" value="60" />
  </appSettings>
  
  <system.web>
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>